
<%- include("partials/header", {count:count, username:username}); -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group compose-edit-form">
        <label>Title</label>
        <input class="form-control" placeholder="Title of your blog" type="text" name="postTitle">
        <label>Tags</label>
          <input list="browsers" class="form-control" placeholder="blog tag" type="text" name="postTag" value="none" />
          <datalist id="browsers">
            <option value="Chrome">
            <option value="Firefox">
            <option value="Internet Explorer">
            <option value="Opera">
            <option value="Safari">
            <option value="Microsoft Edge">
          </datalist>

        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30" placeholder="minimum 100 character"></textarea>
      </div>
      <input type="text" hidden name="username" value="<%=username%>">
      <input type="text" hidden name="private" value="private">
      <button class="btn btn-primary" type="submit" name="button">Store</button>

      <input type="text" hidden name="public" value="public">
      <button class="btn btn-primary" formaction="/public/<%=username%>" type="submit" name="button">Share</button>
    </form>

<%- include("partials/footer"); -%>
