
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <!-- Design by foolishdeveloper.com -->
      <title>Glassmorphism login Form Tutorial in html css</title>
   
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/css/styles.css">
      <script src="https://kit.fontawesome.com/905d13f394.js" crossorigin="anonymous"></script>
    
      <!--Stylesheet-->
      <style media="screen">
        *,
  *:before,
  *:after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  body{
      /* background-image: url('/Users/dhiraj/Downloads/Full_stack_web_dev/EJS/Blog_post_website/Blog-with-Database/public/images/login-bg.jpeg'); */
      background: rgb(44, 163, 149);
  
  
  }
  .background{
      width: 430px;
      height: 520px;
      /* position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%; */
  }
  /* .background .shape{
      height: 200px;
      width: 200px;
      position: absolute;
      border-radius: 50%;
  } */
  .shape:first-child{
      background: linear-gradient(
          #00ffcc,
          #00ffcc
      );
      left: -80px;
      top: -80px;
  }
  .shape:last-child{
      background: linear-gradient(
          to right,
          rgb(0 225 255),
          rgb(0 225 255)
      );
      right: -30px;
      bottom: -80px;
  }
  form{
      height: 500px;
      width: 400px;
      background-color: rgba(255,255,255,0.13);
      /* background-color: rgb(255, 203, 106); */
      /* position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%; */
      border-radius: 10px;
      backdrop-filter: blur(10px);
      border: 2px solid rgba(255,255,255,0.1);
      box-shadow: 0 0 40px rgba(8,7,16,0.6);
      padding: 50px 35px;
  }
  form *{
      font-family: 'Poppins',sans-serif;
      color: #ffffff;
      letter-spacing: 0.5px;
      outline: none;
      border: none;
  }
  form h3{
      font-size: 32px;
      font-weight: 500;
      line-height: 42px;
      text-align: center;
  }
  
  label{
      display: block;
      margin-top: 30px;
      font-size: 16px;
      font-weight: 500;
  }
  input{
      display: block;
      height: 50px;
      width: 100%;
      background-color: rgba(255,255,255,0.07);
      border-radius: 3px;
      padding: 0 10px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 300;
  }
  ::placeholder{
      color: #e5e5e5;
  }
  button{
      margin-top: 20px;
      width: 80%;
      background-color: rgba(96, 223, 223, 0.532);
      /* background-color: #ffffff; */
      color: #080710;
      padding: 10px 40px;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
  
      border: 1px solid rgb(5, 49, 120);
  }
  button:hover{
    box-shadow: 5px 5px 10px 1px rgb(43, 62, 65) ;
    transform: scale(1.005);
  }
  
  
      </style>
  </head>
  <body>
      <!-- <div class="background">
          <div class="shape"></div>
          <div class="shape"></div>
      </div> -->
      <div style="padding-top: 30px;">
      <h1 class="tags" >
        <i class="fa-solid fa-pen-to-square write"> &nbsp; Write</i> 
        <i class="fa-solid fa-share-from-square share">&nbsp;Share</i>
        <i class="fa-solid fa-cloud-arrow-up store">&nbsp;Store</i>
      </h1>
    </div>
  
  
    <div style="display:flex !important; justify-content: space-around; position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);">
  
   
    <div style="margin: auto 100px auto 0; ">
      <img style="width: 400px; aspect-ratio: 1; object-fit:cover; border-radius: 100%;
      box-shadow: 3px 3px 3px 4px black;"  src="/Users/dhiraj/Downloads/Full_stack_web_dev/EJS/Blog_post_website/Blog-with-Database/public/images/BB.png" alt="">
    </div>
  
  
      <form action="/register" method="POST">
        <div class="login-selection" style="background: rgb(137, 206, 192); border-radius: 10px; ">
          <div class="side-login-register">
            <a href="/"><h3 class="side-login" style="background-color:rgb(57, 140, 165); padding: 2px 0px; margin: 0;border-top-left-radius: 10px; color: rgb(228, 236, 240); width: 49%; display: inline-block;">Login</h3></a>
            <a style="text-align:end ;" href="/register"><h3 class="side-register" style="padding: 2px 0px; margin: 0;  display: inline-block; color: rgb(228, 236, 240); width: 49.5% ">Register</h3></a>
          </div>
          <div style="padding: 0 10px; ">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" placeholder="New Email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
          <div style="text-align:center; padding: 15px 0;">
          <button type="submit" >Register</button>
        </div>
        </div>
        </div>
        </form>
      </div>
  
  </body>
  </html>
  
  
  