<body style="background-image:url('/Users/dhiraj/Downloads/Full_stack_web_dev/EJS/Blog_post_website/Blog-with-Database/public/images/bg.jpg');
  background-origin:content-box; background-position: center; background-size: cover; background-repeat:no-repeat;">
    <h1>Blog Share Store</h1>
</body>