html {
  min-height: 100%;
  position: relative;
}  

.container-fluid {
    padding-top: 10px;
    /* padding-bottom: 70px; */
}
.navbar {
    padding-top: 10px;
    /* padding-bottom: 15px; */
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.navbar-nav li i{
  font-size:x-large;
}
.spin-on-hover{
  transition-duration: 0.4s;
  transition: ease-in-out;
}
.spin-on-hover:hover{
  cursor: pointer;
}
.spin-on-hover:hover img{
  animation-duration: 1s;
  border-radius: 100px;
  border: 1px solid #00ffcc;
}
.spin-on-hover:hover .spin-arrow{
  transition-duration: 0.4s;
  transform: rotate(90deg);
} 
.spin-on-hover:hover .username{
  color:#1abc9c ;
}
.spin-on-hover li{
  text-align: start;
  width: 100%;
}
.spin-on-hover li:hover{
  background-color: #f8f8f8;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.fa-solid {
  font-size:medium;
}
.trashBin{
  float: right !important;
} 
.trashBin span:hover{
  /* cursor: pointer !important; */
  color: rgb(252, 71, 71) !important;
}
a{
  color: white;
  text-decoration: none !important;
  /* text-underline-offset: none; */
}

.compose-btn button:hover{

  box-shadow: 2px 2px 5px 2px #1abc9c;
}
.compose-btn button:hover span{
  color:#1abc9c ;
  /* transition-duration: 0.5s; */
}
.compose-btn button:hover {
  color:black ;
  transition: ease-in-out;
  /* transition-duration: 1s; */
}
.load-more:hover{
  color: green !important;
  box-shadow: 1px 1px 2px 1px black;
}
.daily-blogs p:link{
  color:#1abc9c ;
}
.daily-blogs p:visited{
  color:#1abc9c ;
}
.daily-blogs p:hover{
  color:#1abc9c ;
}
.daily-blogs p:active{
  color:#1abc9c ;
  /* transition-duration: 0.5s; */
}
.uk-animation-scale-grow{
  transition-duration:0.4s ;
}
.uk-animation-scale-grow:hover{
  transform: scale(1.1);
}
.com-not-link a{
  text-decoration: none;
  color: black !important;
}
.com-not-link a:hover{
  color: #1abc9c !important;
}

/* ################################ styling start.ejs file ########################### */
.tags i{

  font-size: x-large;
  /* color:#00ffcc ; */
  color: rgb(255, 255, 255);
  padding-left: 40px;
}
.tags .write{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: move-around;
  animation-duration: 0.5s;
}
.tags .share{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: move-around;
  transition: opacity 1s;
  /* animation-delay: 1s; */
  animation-duration: 1s;
}

.tags .store{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: move-around;
  /* animation-delay: 2s; */
  animation-duration: 1.5s;
}
@keyframes move-around{
  0%{
    transform: translateY(25px);
      opacity: 0;
  }
  10%{
      opacity: 0;
  }
  25%{
    opacity: 0.15;
  }
  30%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.5;
  }
  60%{
    opacity: 0.7;
  }
  75%{
    opacity: 0.9;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }

}

.login-register{
  text-align: center;
  /* margin-top: 52vh; */
}
.login-register a{
  margin: 10px;
  color: black;
  background-color: #dae0e8;
  text-decoration: none;
}
.login-register a:first-of-type:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 10px 1px rgb(0 225 255) ;
}
.login-register a:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 10px 1px #00ffcc ;
}


/* ################################ styling login/register button side by side ############### */

.hover-blue:hover{
  color: #1f87f0 !important;
}

/* ############################ like button ######################################## */

.like-toggle.basic2{
  border: none;
  width: 35px;
  height: 35px;
  font-size: 1.3em;
  border-radius: 100px;
  background: rgba(255, 19, 19, 0.768);
  color: #fff;
  transition-duration: 0.5s;
}


.like-toggle.basic2:hover{
  background: #1f87f0 !important;
  transform: scale(1.08);
  
  /* width: 60px; */
}

/* .likes-hover span:hover{
  background-color: rgba(255, 19, 19, 0.768);
} */

/* ################################## complose / edit form styling #################### */
.compose-edit-form label{
  margin-top: 10px;
}
.compose-edit-form input[type="text"]{
  width: 500px;
}
.compose-edit-form input[type="text"]:nth-of-type(2){
  width: 300px;
}


/* ##################################### media query to public posts ###################### */
@media only screen and (max-width: 600px) {
  .public-posts {
   width: 100%;
  }
}
@media (max-width: 800px) {
  .public-posts {
   width: 100% !important;
  }
}


